.C {margin-left: 15%;}
.login {font-family: "Arial";
        font-size: 18px;
        margin-bottom: 3px;}
.enter {font-family: calibri;
        font-size: 13px;
        margin-bottom: 40px;}
.pass label {width: 200px;
             color: #757575;
             margin-bottom: 5px;
             font-size: 14px;
             font-family: calibri;}
.pass .pass1 {width: 90%;
             outline: none;
             border: none;
             border-bottom: 1px solid gray;
             font-size: 14px;
             font-family: calibri;
             margin-top: 5px;}

.pass .pass1:focus {border-bottom: 2px rgb(0, 123, 255) solid;}

#DEF {font-size: 14px;
         color: rgb(0, 123, 255);
         text-decoration: none;
         font-family: calibri;
         margin-top: 1px;
         margin-bottom: 70px;
         cursor: pointer;}

#ABC {padding: 14px 14px;
      padding-left: 170px;
      padding-right: 170px;
        background-color: rgb(0, 123, 255);
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        color: white;
        border: 0;
        border-radius: 3px;
        cursor: pointer;}
#ABC:hover {background: rgb(0, 85, 255);}    

img {margin-left: 17%}
        